In [1]:
import pandas as pd
import numpy as np
import platform
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

if platform.system() == "Darwin":  # MAC인 경우
    plt.rc("font", family="AppleGothic")
else:
    plt.rc("font", family="Malgun Gothic")

# 멧플로립에서 음수를 표시
plt.rc("axes", unicode_minus=False)

# 워닝 메시지
import warnings

warnings.filterwarnings("ignore")

In [3]:
listed = pd.read_csv('../datasets/상장_쭈피처데이터.csv', encoding='cp949', index_col=0)
listed

,회사명,거래소코드,회계년도,매출액(영업수익)(*)(천원),판매비와관리비(영업비용)(*)(천원),매출액(영업수익)(*)(연결)(천원),판매비와관리비(영업비용)(*)(연결)(천원),매출액(수익)(*)(3개월)(IFRS)(천원),판매비와 관리비(물류원가 등 포함)(*)(3개월)(IFRS)(천원),매출액(수익)(*)(3개월)(IFRS연결)(천원),판매비와 관리비(물류원가 등 포함)(*)(3개월)(IFRS연결)(천원)
0,(주)가이아코퍼레이션,296520,2017/12,32290724.0,7812197.0,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)가이아코퍼레이션,296520,2018/12,32601806.0,8227651.0,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)가이아코퍼레이션,296520,2019/12,43168760.0,12849421.0,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)가이아코퍼레이션,296520,2020/12,32823843.0,9867986.0,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)가이아코퍼레이션,296520,2021/12,31864093.0,11892168.0,32011281.0,12436747.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10040,휴마시스(주),205470,2018/12,9657735.0,4711632.0,NaN,NaN,3330410.0,1145117.0,NaN,NaN
10041,휴마시스(주),205470,2019/12,9150652.0,4816364.0,NaN,NaN,2824862.0,1621855.0,NaN,NaN
10042,휴마시스(주),205470,2020/12,45717212.0,5355223.0,NaN,NaN,22422513.0,2047077.0,22422513.0,2094117.0
10043,휴마시스(주),205470,2021/12,307476758.0,16237486.0,NaN,NaN,170496591.0,7628501.0,173906392.0,7923317.0
10044,휴마시스(주),205470,2022/12,467505656.0,40349820.0,NaN,NaN,1444488.0,16423635.0,5777452.0,16925167.0

In [4]:
listed["매출액(영업수익)(*)(천원)"] = listed["매출액(영업수익)(*)(천원)"].fillna(
    listed["매출액(수익)(*)(3개월)(IFRS)(천원)"]
)
listed["매출액(영업수익)(*)(천원)"] = listed["매출액(영업수익)(*)(천원)"].fillna(
    listed["매출액(수익)(*)(3개월)(IFRS연결)(천원)"]
)
listed["매출액(영업수익)(*)(천원)"] = listed["매출액(영업수익)(*)(천원)"].fillna(
    listed["매출액(영업수익)(*)(연결)(천원)"]
)
print(listed["매출액(영업수익)(*)(천원)"].isnull().sum())

227

In [5]:
listed["판매비와관리비(영업비용)(*)(천원)"] = listed["판매비와관리비(영업비용)(*)(천원)"].fillna(
    listed["판매비와 관리비(물류원가 등 포함)(*)(3개월)(IFRS)(천원)"]
)
listed["판매비와관리비(영업비용)(*)(천원)"] = listed["판매비와관리비(영업비용)(*)(천원)"].fillna(
    listed["판매비와 관리비(물류원가 등 포함)(*)(3개월)(IFRS연결)(천원)"]
)
listed["판매비와관리비(영업비용)(*)(천원)"] = listed["판매비와관리비(영업비용)(*)(천원)"].fillna(
    listed["판매비와관리비(영업비용)(*)(연결)(천원)"]
)
print(listed["판매비와관리비(영업비용)(*)(천원)"].isnull().sum())
listed.columns

227

Index(['회사명', '거래소코드', '회계년도', '매출액(영업수익)(*)(천원)', '판매비와관리비(영업비용)(*)(천원)',
       '매출액(영업수익)(*)(연결)(천원)', '판매비와관리비(영업비용)(*)(연결)(천원)',
       '매출액(수익)(*)(3개월)(IFRS)(천원)', '판매비와 관리비(물류원가 등 포함)(*)(3개월)(IFRS)(천원)',
       '매출액(수익)(*)(3개월)(IFRS연결)(천원)',
       '판매비와 관리비(물류원가 등 포함)(*)(3개월)(IFRS연결)(천원)'],
      dtype='object')

In [6]:
listed.drop(
    columns=[
        "매출액(수익)(*)(3개월)(IFRS)(천원)",
        "매출액(수익)(*)(3개월)(IFRS연결)(천원)",
        "판매비와 관리비(물류원가 등 포함)(*)(3개월)(IFRS)(천원)",
        "판매비와 관리비(물류원가 등 포함)(*)(3개월)(IFRS연결)(천원)",
        "매출액(영업수익)(*)(연결)(천원)",
        "판매비와관리비(영업비용)(*)(연결)(천원)",
    ],
    axis=1,
    inplace=True,
    errors="ignore",
)

listed.columns

Index(['회사명', '거래소코드', '회계년도', '매출액(영업수익)(*)(천원)', '판매비와관리비(영업비용)(*)(천원)'], dtype='object')

In [7]:
#  매출액 0 과 음수 나오는 회사 제외하기 : 14,471 개 제외
listed = listed[listed["매출액(영업수익)(*)(천원)"] > 0]
listed = listed[listed["판매비와관리비(영업비용)(*)(천원)"] > 0]
#
#
#   매출액 0 과 음수 나오는 회사
filltered = listed[listed["매출액(영업수익)(*)(천원)"] <= 0]
listed.info()
len(listed["거래소코드"].unique())

<class 'pandas.core.frame.DataFrame'>
Index: 10607 entries, 0 to 10044
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   회사명                   10607 non-null  object
 1   거래소코드                 10607 non-null  int64
 2   회계년도                  10607 non-null  object
 3   매출액(영업수익)(*)(천원)      10607 non-null  float64
 4   판매비와관리비(영업비용)(*)(천원)  10607 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 497.2+ KB

1171

In [8]:
listed["new_feature"] = listed["판매비와관리비(영업비용)(*)(천원)"] / listed["매출액(영업수익)(*)(천원)"]
listed["new_feature"].describe()

count     10607.000000
mean         20.383870
std        1837.187332
min           0.006977
25%           0.122761
50%           0.228028
75%           0.446380
max      189151.206349
Name: new_feature, dtype: float64

In [9]:
listed.drop(
    columns=["판매비와관리비(영업비용)(*)(천원)", "매출액(영업수익)(*)(천원)"],
    axis=1,
    inplace=True,
    errors="ignore",
)
listed.isnull().sum()
listed.to_csv("../datasets/피처생성/상장_주피처.csv")