In [1]:
import pandas as pd

In [2]:
kskqkn_bk = pd.read_csv("../datasets/Labeling/상장_부실_Labeling.csv", index_col=0)
kskqkn_lc = pd.read_csv("../datasets/Labeling/상장_수명주기.csv", index_col=0)

In [3]:
kskqkn_df = pd.merge(kskqkn_bk, kskqkn_lc, how="inner", on=["회사명", "거래소코드", "회계년도"])
kskqkn_df

                     회사명   거래소코드  회계년도  부실판단 기업수명주기
0              케이알모터스(주)      40  2014   1.0    도입기
1                (주)천일고속     650  2022   1.0    쇠퇴기
2                이화산업(주)     760  2019   1.0    성숙기
3                신라섬유(주)    1000  2015   1.0    도입기
4                삼성제약(주)    1360  2014   1.0    쇠퇴기
..                   ...     ...   ...   ...    ...
885             (주)블리츠웨이  369370  2022   NaN    도입기
886        차이나크리스탈신소재홀딩스  900250  2022   0.0    성장기
887             헝셩그룹유한회사  900270  2022   0.0    성장기
888  오가닉티코스메틱스홀딩스컴퍼니리미티드  900300  2022   0.0    성장기
889              윙입푸드홀딩스  900340  2022   0.0    성장기

[890 rows x 5 columns]

In [4]:
kskqkn_df.isna().sum()

회사명        0
거래소코드      0
회계년도       0
부실판단      22
기업수명주기     0
dtype: int64

In [5]:
kskqkn_df.to_csv("../datasets/Feature/2.부실+수명주기.csv")