In [1]:
import pandas as pd

In [2]:
audit = pd.read_csv("../datasets/비상장_현금흐름.csv", index_col=0)
audit

,회사명,거래소코드,회계년도,[U01410000]영업활동으로 인한 현금흐름(*)(천원),[U01440000]투자활동으로 인한 현금흐름(*)(천원),[U01450000]재무활동으로 인한 현금흐름(*)(천원),[U01D100000000]영업활동으로 인한 현금흐름(간접법)(*)(IFRS)(천원),[U01D200000000]투자활동으로 인한 현금흐름(*)(IFRS)(천원),[U01D300000000]재무활동으로 인한 현금흐름(*)(IFRS)(천원),[U01D100000000]영업활동으로 인한 현금흐름(간접법)(*)(IFRS연결)(천원),[U01D200000000]투자활동으로 인한 현금흐름(*)(IFRS연결)(천원),[U01D300000000]재무활동으로 인한 현금흐름(*)(IFRS연결)(천원)
0,주식회사삼성산업개발,78238,2015/12,-2430155.0,-41822.0,3070000.0,NaN,NaN,NaN,NaN,NaN,NaN
1,주식회사삼성산업개발,78238,2016/12,-20880.0,0.0,30000.0,NaN,NaN,NaN,NaN,NaN,NaN
2,주식회사삼성산업개발,78238,2017/12,4091365.0,14462.0,-1290000.0,NaN,NaN,NaN,NaN,NaN,NaN
3,주식회사삼성씨에스,95243,2019/12,58675.0,52784.0,-40000.0,NaN,NaN,NaN,NaN,NaN,NaN
4,주식회사삼성씨에스,95243,2020/12,194322.0,-71662.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
248319,주식회사경안파이프,40699,2021/12,1160329.0,1985385.0,-2884372.0,NaN,NaN,NaN,NaN,NaN,NaN
248320,주식회사경안파이프,40699,2022/12,1067461.0,-652665.0,-160338.0,NaN,NaN,NaN,NaN,NaN,NaN
248321,주식회사경암,99966,2020/12,-13976699.0,3079994.0,15535665.0,NaN,NaN,NaN,NaN,NaN,NaN
248322,주식회사경암,99966,2021/12,16042987.0,-94727422.0,72957902.0,NaN,NaN,NaN,NaN,NaN,NaN
248323,주식회사경암,99966,2022/12,2167307.0,-33372657.0,32357263.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
def audit_life_cycle(data):
    data["GAAP 기업수명주기"] = ""
    data["IFRS(개별) 기업수명주기"] = ""
    data["IFRS(연결) 기업수명주기"] = ""

    ### GAAP 기업 수명 주기
    for i in range(len(data)):
        if (
            (data[data.columns[3]][i] < 0)
            & (data[data.columns[4]][i] < 0)
            & (data[data.columns[5]][i] > 0)
        ):
            data.at[i, "GAAP 기업수명주기"] = "도입기"
        elif (
            (data[data.columns[3]][i] > 0)
            & (data[data.columns[4]][i] < 0)
            & (data[data.columns[5]][i] > 0)
        ):
            data.at[i, "GAAP 기업수명주기"] = "성장기"
        elif (
            (data[data.columns[3]][i] > 0)
            & (data[data.columns[4]][i] < 0)
            & (data[data.columns[5]][i] < 0)
        ):
            data.at[i, "GAAP 기업수명주기"] = "성숙기"
        elif (data[data.columns[3]][i] < 0) & (data[data.columns[4]][i] > 0):
            data.at[i, "GAAP 기업수명주기"] = "쇠퇴기"

    ### IFRS(개별) 기업 수명 주기
    for i in range(len(data)):
        if (
            (data[data.columns[6]][i] < 0)
            & (data[data.columns[7]][i] < 0)
            & (data[data.columns[8]][i] > 0)
        ):
            data.at[i, "IFRS(개별) 기업수명주기"] = "도입기"
        elif (
            (data[data.columns[6]][i] > 0)
            & (data[data.columns[7]][i] < 0)
            & (data[data.columns[8]][i] > 0)
        ):
            data.at[i, "IFRS(개별) 기업수명주기"] = "성장기"
        elif (
            (data[data.columns[6]][i] > 0)
            & (data[data.columns[7]][i] < 0)
            & (data[data.columns[8]][i] < 0)
        ):
            data.at[i, "IFRS(개별) 기업수명주기"] = "성숙기"
        elif (data[data.columns[6]][i] < 0) & (data[data.columns[7]][i] > 0):
            data.at[i, "IFRS(개별) 기업수명주기"] = "쇠퇴기"

    ### IFRS(연결) 기업 수명 주기
    for i in range(len(data)):
        if (
            (data[data.columns[9]][i] < 0)
            & (data[data.columns[10]][i] < 0)
            & (data[data.columns[11]][i] > 0)
        ):
            data.at[i, "IFRS(연결) 기업수명주기"] = "도입기"
        elif (
            (data[data.columns[9]][i] > 0)
            & (data[data.columns[10]][i] < 0)
            & (data[data.columns[11]][i] > 0)
        ):
            data.at[i, "IFRS(연결) 기업수명주기"] = "성장기"
        elif (
            (data[data.columns[9]][i] > 0)
            & (data[data.columns[10]][i] < 0)
            & (data[data.columns[11]][i] < 0)
        ):
            data.at[i, "IFRS(연결) 기업수명주기"] = "성숙기"
        elif (data[data.columns[9]][i] < 0) & (data[data.columns[10]][i] > 0):
            data.at[i, "IFRS(연결) 기업수명주기"] = "쇠퇴기"
    return data

In [4]:
audit_lc = audit_life_cycle(audit)
audit_lc

,회사명,거래소코드,회계년도,[U01410000]영업활동으로 인한 현금흐름(*)(천원),[U01440000]투자활동으로 인한 현금흐름(*)(천원),[U01450000]재무활동으로 인한 현금흐름(*)(천원),[U01D100000000]영업활동으로 인한 현금흐름(간접법)(*)(IFRS)(천원),[U01D200000000]투자활동으로 인한 현금흐름(*)(IFRS)(천원),[U01D300000000]재무활동으로 인한 현금흐름(*)(IFRS)(천원),[U01D100000000]영업활동으로 인한 현금흐름(간접법)(*)(IFRS연결)(천원),[U01D200000000]투자활동으로 인한 현금흐름(*)(IFRS연결)(천원),[U01D300000000]재무활동으로 인한 현금흐름(*)(IFRS연결)(천원),GAAP 기업수명주기,IFRS(개별) 기업수명주기,IFRS(연결) 기업수명주기
0,주식회사삼성산업개발,78238,2015/12,-2430155.0,-41822.0,3070000.0,NaN,NaN,NaN,NaN,NaN,NaN,도입기,,
1,주식회사삼성산업개발,78238,2016/12,-20880.0,0.0,30000.0,NaN,NaN,NaN,NaN,NaN,NaN,,,
2,주식회사삼성산업개발,78238,2017/12,4091365.0,14462.0,-1290000.0,NaN,NaN,NaN,NaN,NaN,NaN,,,
3,주식회사삼성씨에스,95243,2019/12,58675.0,52784.0,-40000.0,NaN,NaN,NaN,NaN,NaN,NaN,,,
4,주식회사삼성씨에스,95243,2020/12,194322.0,-71662.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248319,주식회사경안파이프,40699,2021/12,1160329.0,1985385.0,-2884372.0,NaN,NaN,NaN,NaN,NaN,NaN,,,
248320,주식회사경안파이프,40699,2022/12,1067461.0,-652665.0,-160338.0,NaN,NaN,NaN,NaN,NaN,NaN,성숙기,,
248321,주식회사경암,99966,2020/12,-13976699.0,3079994.0,15535665.0,NaN,NaN,NaN,NaN,NaN,NaN,쇠퇴기,,
248322,주식회사경암,99966,2021/12,16042987.0,-94727422.0,72957902.0,NaN,NaN,NaN,NaN,NaN,NaN,성장기,,
248323,주식회사경암,99966,2022/12,2167307.0,-33372657.0,32357263.0,NaN,NaN,NaN,NaN,NaN,NaN,성장기,,

In [5]:
audit_label = audit_lc[['회사명', '거래소코드', '회계년도', 'GAAP 기업수명주기', 'IFRS(개별) 기업수명주기', 'IFRS(연결) 기업수명주기']]

In [6]:
audit_label.to_csv("../datasets/Labeling/비상장_수명주기처리전.csv")

### 수명주기 처리 전 데이터프레임 가져오기

In [7]:
audit = pd.read_csv("../datasets/Labeling/비상장_수명주기처리전.csv", index_col=0)

In [8]:
audit["회계년도"] = pd.to_datetime(audit["회계년도"]).dt.year

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_82762/863882579.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  audit["회계년도"] = pd.to_datetime(audit["회계년도"]).dt.year

In [9]:
# 결측치가 있는 행 제거
df_cleaned_audit = audit.dropna(
    subset=[
        "GAAP 기업수명주기",
        "IFRS(개별) 기업수명주기",
        "IFRS(연결) 기업수명주기",
    ],
    how="all",
)

print(len(df_cleaned_audit["회사명"].unique()))
print(len(df_cleaned_audit["거래소코드"].unique()))

43086
44196

In [10]:
df_cleaned_audit = df_cleaned_audit.reset_index(drop=True)

In [11]:
a1 = df_cleaned_audit.columns[3]
a2 = df_cleaned_audit.columns[4]
a3 = df_cleaned_audit.columns[5]

In [12]:
print(df_cleaned_audit.isnull().sum())

회사명                     0
거래소코드                   0
회계년도                    0
GAAP 기업수명주기           173
IFRS(개별) 기업수명주기    186233
IFRS(연결) 기업수명주기    191973
dtype: int64

### audit 기업수명주기 결측치 채우기
#### 비상장 외감 기업( IFRS연결 → IFRS개별 → GAAP개별)

In [13]:
nan_list = []
a2_list = []
a3_list = []

for i in range(len(df_cleaned_audit)):
    # GAAP 결측치
    if pd.isna(df_cleaned_audit[a1][i]):
        nan_list.append(df_cleaned_audit["거래소코드"][i])
        if pd.notna(df_cleaned_audit[a2][i]):
            a2_list.append(df_cleaned_audit["거래소코드"][i])
        if pd.notna(df_cleaned_audit[a3][i]):
            a3_list.append(df_cleaned_audit["거래소코드"][i])

print(nan_list)
print(len(nan_list))

print(a2_list)
print(len(a2_list))

print(a3_list)
print(len(a3_list))

[86262, 81560, 76673, 88245, 106778, 73680, 73909, 72641, 61374, 69515, 69515, 79766, 82985, 73252, 65667, 50588, 75976, 69668, 56256, 82716, 60979, 58778, 29026, 29026, 14955, 51212, 43536, 12650, 74224, 75206, 86114, 86114, 86114, 77585, 98611, 19129, 19129, 19129, 58539, 58539, 12980, 47797, 82776, 60510, 19601, 53360, 65486, 65486, 60091, 62520, 62699, 62699, 62699, 62699, 51051, 100754, 51581, 51581, 51581, 51581, 90160, 90160, 52301, 60584, 13874, 13874, 65473, 65473, 65473, 65473, 85341, 70179, 72976, 72976, 72976, 72976, 10782, 65670, 20229, 62658, 62658, 15054, 64013, 64013, 64013, 64013, 64013, 96509, 96509, 57800, 57800, 57800, 57800, 66876, 29515, 29515, 58239, 63455, 63455, 49678, 49678, 49678, 74783, 26374, 15641, 47972, 77331, 92570, 43573, 40570, 40570, 40570, 40570, 40570, 15744, 45038, 81458, 81458, 20782, 56808, 56808, 56808, 56808, 60370, 21066, 68430, 68430, 69479, 16721, 42511, 65958, 78271, 29469, 42659, 42659, 43118, 60599, 67251, 21089, 49687, 46239, 46239, 16792, 70356, 70356, 70356, 92110, 74283, 89163, 17647, 17647, 81564, 81752, 19426, 43105, 43105, 92785, 86910, 11746, 11746, 41701, 73085, 64633, 18067, 18067, 85480, 39212, 74305, 63130, 69472, 75152, 60727, 66574]
173
[]
0
[86262, 81560, 76673, 88245, 106778, 73680, 73909, 72641, 61374, 69515, 69515, 79766, 82985, 73252, 65667, 50588, 75976, 69668, 56256, 82716, 60979, 58778, 29026, 29026, 14955, 51212, 43536, 12650, 74224, 75206, 86114, 86114, 86114, 77585, 98611, 19129, 19129, 19129, 58539, 58539, 12980, 47797, 82776, 60510, 19601, 53360, 65486, 65486, 60091, 62520, 62699, 62699, 62699, 62699, 51051, 100754, 51581, 51581, 51581, 51581, 90160, 90160, 52301, 60584, 13874, 13874, 65473, 65473, 65473, 65473, 85341, 70179, 72976, 72976, 72976, 72976, 10782, 65670, 20229, 62658, 62658, 15054, 64013, 64013, 64013, 64013, 64013, 96509, 96509, 57800, 57800, 57800, 57800, 66876, 29515, 29515, 58239, 63455, 63455, 49678, 49678, 49678, 74783, 26374, 15641, 47972, 77331, 92570, 43573, 40570, 40570, 40570, 40570, 40570, 15744, 45038, 81458, 81458, 20782, 56808, 56808, 56808, 56808, 60370, 21066, 68430, 68430, 69479, 16721, 42511, 65958, 78271, 29469, 42659, 42659, 43118, 60599, 67251, 21089, 49687, 46239, 46239, 16792, 70356, 70356, 70356, 92110, 74283, 89163, 17647, 17647, 81564, 81752, 19426, 43105, 43105, 92785, 86910, 11746, 11746, 41701, 73085, 64633, 18067, 18067, 85480, 39212, 74305, 63130, 69472, 75152, 60727, 66574]
173

In [14]:
df_cleaned_audit["GAAP 기업수명주기"] = df_cleaned_audit["GAAP 기업수명주기"].fillna(
    df_cleaned_audit["IFRS(연결) 기업수명주기"]
)

In [15]:
print(df_cleaned_audit.isnull().sum())

회사명                     0
거래소코드                   0
회계년도                    0
GAAP 기업수명주기             0
IFRS(개별) 기업수명주기    186233
IFRS(연결) 기업수명주기    191973
dtype: int64

In [16]:
audit_life_cycle = df_cleaned_audit[["회사명", "거래소코드", "회계년도", "GAAP 기업수명주기"]]

In [17]:
audit_life_cycle.columns = ["회사명", "거래소코드", "회계년도", "기업수명주기"]

In [18]:
audit_life_cycle.to_csv("../datasets/Labeling/비상장_수명주기.csv")