In [68]:
import pandas as pd
import numpy as np
import platform
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
if platform.system() == "Darwin":           # MAC인 경우
    plt.rc('font', family ="AppleGothic")
else:
    plt.rc('font',family='Malgun Gothic')

#멧플로립에서 음수를 표시
plt.rc('axes',unicode_minus=False)

#워닝 메시지
import warnings
warnings.filterwarnings('ignore')


# pd.reset_optioen('display.max_row')

In [69]:
unlisted = pd.read_csv('../1.데이터셋/비상장_쭈피처데이터.csv', encoding='cp949', index_col=0)
unlisted

,회사명,거래소코드,회계년도,매출액(영업수익)(*)(천원),판매비와관리비(영업비용)(*)(천원),매출액(수익)(*)(IFRS)(천원),판매비와 관리비(물류원가 등 포함)(*)(IFRS)(천원),매출액(수익)(*)(IFRS연결)(천원),판매비와 관리비(물류원가 등 포함)(*)(IFRS연결)(천원)
0,(유)가든주류,97082,2019/12,50510093.0,7274819.0,NaN,NaN,NaN,NaN
1,(유)가든주류,97082,2020/12,44082032.0,5737424.0,NaN,NaN,NaN,NaN
2,(유)가든주류,97082,2021/12,38043897.0,4660491.0,NaN,NaN,NaN,NaN
3,(유)가든주류,97082,2022/12,32820256.0,8844720.0,NaN,NaN,NaN,NaN
4,(유)기흥모터스,94470,2019/12,78427042.0,16733896.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22532,힐링홈스주식회사,84799,2017/12,9907076.0,376007.0,NaN,NaN,NaN,NaN
22533,힐링홈스주식회사,84799,2018/12,15512953.0,771344.0,NaN,NaN,NaN,NaN
22534,힐중공업주식회사,82007,2016/12,8029170.0,895855.0,NaN,NaN,NaN,NaN
22535,힐중공업주식회사,82007,2017/12,11633198.0,1043041.0,NaN,NaN,NaN,NaN
22536,힐중공업주식회사,82007,2018/12,6687364.0,681588.0,NaN,NaN,NaN,NaN

In [70]:
unlisted.isna().sum()

회사명                                        0
거래소코드                                      0
회계년도                                       0
매출액(영업수익)(*)(천원)                          42
판매비와관리비(영업비용)(*)(천원)                      42
매출액(수익)(*)(IFRS)(천원)                  233541
판매비와 관리비(물류원가 등 포함)(*)(IFRS)(천원)      233541
매출액(수익)(*)(IFRS연결)(천원)                240923
판매비와 관리비(물류원가 등 포함)(*)(IFRS연결)(천원)    240923
dtype: int64

In [71]:
unlisted["매출액(영업수익)(*)(천원)"] = unlisted["매출액(영업수익)(*)(천원)"].fillna(
    unlisted["매출액(수익)(*)(IFRS)(천원)"]
)
unlisted["매출액(영업수익)(*)(천원)"] = unlisted["매출액(영업수익)(*)(천원)"].fillna(
    unlisted["매출액(수익)(*)(IFRS연결)(천원)"]
)
print(unlisted["매출액(영업수익)(*)(천원)"].isnull().sum())
#unlisted["매출액(영업수익)(*)(천원)"].info

41

In [72]:
unlisted["판매비와관리비(영업비용)(*)(천원)"] = unlisted["판매비와관리비(영업비용)(*)(천원)"].fillna(
    unlisted["판매비와 관리비(물류원가 등 포함)(*)(IFRS)(천원)"]
)
unlisted["판매비와관리비(영업비용)(*)(천원)"] = unlisted["판매비와관리비(영업비용)(*)(천원)"].fillna(
    unlisted["판매비와 관리비(물류원가 등 포함)(*)(IFRS연결)(천원)"]
)
print(unlisted["판매비와관리비(영업비용)(*)(천원)"].isnull().sum())

41

In [73]:
unlisted.drop(
    columns=[
        "매출액(수익)(*)(IFRS)(천원)",
        "판매비와 관리비(물류원가 등 포함)(*)(IFRS)(천원)",
        "매출액(수익)(*)(IFRS연결)(천원)",
        "판매비와 관리비(물류원가 등 포함)(*)(IFRS연결)(천원)",
    ],
    axis=1,
    inplace=True,
    errors="ignore",
)
unlisted.info()
# unlisted = unlisted[unlisted["판매비와관리비(영업비용)(*)(천원)"] < 0]

<class 'pandas.core.frame.DataFrame'>
Index: 243662 entries, 0 to 22536
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   회사명                   243662 non-null  object
 1   거래소코드                 243662 non-null  int64
 2   회계년도                  243662 non-null  object
 3   매출액(영업수익)(*)(천원)      243621 non-null  float64
 4   판매비와관리비(영업비용)(*)(천원)  243621 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 11.2+ MB

In [74]:
#  매출액 0 과 음수 나오는 회사 제외하기 : 14,471 개 제외
unlisted = unlisted[unlisted["매출액(영업수익)(*)(천원)"] > 0]
unlisted = unlisted[unlisted["판매비와관리비(영업비용)(*)(천원)"] > 0]
#
#
#   매출액 0 과 음수 나오는 회사
filltered = unlisted[unlisted["매출액(영업수익)(*)(천원)"] <= 0]
unlisted.info()
len(unlisted["회사명"].unique())

<class 'pandas.core.frame.DataFrame'>
Index: 229191 entries, 0 to 22536
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   회사명                   229191 non-null  object
 1   거래소코드                 229191 non-null  int64
 2   회계년도                  229191 non-null  object
 3   매출액(영업수익)(*)(천원)      229191 non-null  float64
 4   판매비와관리비(영업비용)(*)(천원)  229191 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 10.5+ MB

42121

In [75]:
unlisted["new_feature"] = (
    unlisted["판매비와관리비(영업비용)(*)(천원)"] / unlisted["매출액(영업수익)(*)(천원)"]
)
unlisted["new_feature"].describe()

count    2.291910e+05
mean     6.325466e+00
std      1.229353e+03
min      8.456736e-07
25%      8.207498e-02
50%      1.540027e-01
75%      3.830109e-01
max      5.452935e+05
Name: new_feature, dtype: float64

In [76]:
unlisted.drop(
    columns=["매출액(영업수익)(*)(천원)", "판매비와관리비(영업비용)(*)(천원)"],
    axis=1,
    inplace=True,
    errors="ignore",
)
unlisted.columns
unlisted.to_csv("../1.데이터셋/피처생성/비상장_주피처.csv")