In [1]:
import pandas as pd

##### 재무비율 불러오기

In [2]:
fin = pd.read_csv("../1.데이터셋/비상장_재무비율.csv")

##### 이모 피처 불러오기

In [3]:
joo = pd.read_csv("../1.데이터셋/피처생성/비상장_주피처.csv", index_col=0)
joo["회계년도"] = pd.to_datetime(joo["회계년도"])
joo["회계년도"] = pd.to_datetime(joo["회계년도"]).dt.year
joo

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_5534/1691780907.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  joo["회계년도"] = pd.to_datetime(joo["회계년도"])

            회사명  거래소코드  회계년도  new_feature
0       (유)가든주류  97082  2019     0.144027
1       (유)가든주류  97082  2020     0.130153
2       (유)가든주류  97082  2021     0.122503
3       (유)가든주류  97082  2022     0.269490
4      (유)기흥모터스  94470  2019     0.213369
...         ...    ...   ...          ...
22532  힐링홈스주식회사  84799  2017     0.037953
22533  힐링홈스주식회사  84799  2018     0.049723
22534  힐중공업주식회사  82007  2016     0.111575
22535  힐중공업주식회사  82007  2017     0.089661
22536  힐중공업주식회사  82007  2018     0.101922

[229191 rows x 4 columns]

##### 추가피처 가져오기

In [4]:
croe = pd.read_csv('../1.데이터셋/피처생성/비상장추가피처.csv', index_col=0)
croe

                 회사명   거래소코드  회계년도      총자산증가율    총자산회전율      CROE
0            글로웨이(주)   10037  2012    0.000000  0.445811  0.000000
1            글로웨이(주)   10037  2013  -17.746907  0.633568  0.000000
2            글로웨이(주)   10037  2014  -14.289174  0.613572  0.774641
3            글로웨이(주)   10037  2015  -55.454052  0.932049  1.564745
4            글로웨이(주)   10037  2016  -68.128546  0.021985 -1.678963
...              ...     ...   ...         ...       ...       ...
243075    대한엔지니어링(주)  107190  2022  -73.532023  1.273942  0.000000
243076  아인스인터내셔널주식회사  107194  2021    0.000000  0.030404  0.000000
243077  아인스인터내셔널주식회사  107194  2022   65.774553  0.003602  0.000000
243078   지디앤산업개발주식회사  107198  2021    0.000000  0.000000  0.000000
243079   지디앤산업개발주식회사  107198  2022  103.234093  0.000000  0.000000

[243080 rows x 6 columns]

##### 상장현금흐름 파생변수 가져오기

In [5]:
cf = pd.read_csv("../1.데이터셋/피처생성/비상장현금흐름파생변수.csv", index_col=0)
cf["회계년도"] = pd.to_datetime(cf["회계년도"])
cf["회계년도"] = pd.to_datetime(cf["회계년도"]).dt.year

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_5534/2451534488.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  cf["회계년도"] = pd.to_datetime(cf["회계년도"])

##### 5개 데이터프레임 merge

In [6]:
df = pd.merge(fin, joo, how="left", on=["회사명", "거래소코드", "회계년도"])
df

,회사명,거래소코드,회계년도,총자본증가율,유동자산증가율,비유동자산증가율,매출액증가율,자기자본증가율,순이익증가율,유형자산증가율,...,매출액총이익률,총자본사업이익률,총자본영업이익률,자기자본영업이익률,매출액영업이익률,금융비용부담률,설립일,상장일,상장폐지일,new_feature
0,주식회사성환,81567,2016,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.65,0.65,0.71,12.51,2.66,2016/07/13,0,0,0.874867
1,주식회사성환,81567,2017,0.42,51.26,0.16,47.58,0.37,-19.46,-0.01,...,0.00,0.18,0.18,0.19,4.57,3.64,2016/07/13,0,0,0.954288
2,주식회사성환,81567,2018,0.14,29.22,-0.09,1.84,0.77,23.43,-0.09,...,0.00,0.25,0.25,0.28,6.47,3.60,2016/07/13,0,0,0.935282
3,주식회사성환,81567,2019,0.22,5.53,0.16,5.59,0.39,-13.91,-0.12,...,0.00,0.19,0.18,0.20,4.48,3.12,2016/07/13,0,0,0.955181
4,주식회사성회,102319,2021,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,-3.41,-3.69,0.00,-4134.70,2611.19,2021/01/04,0,0,42.347077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243022,주식회사나노팜,29937,2013,-16.05,-26.14,0.95,-39.55,31.56,9.26,-8.97,...,29.70,22.90,21.92,33.40,18.15,-0.82,1998/08/06,0000/00/00,0000/00/00,0.115443
243023,주식회사나노팜,29937,2014,-2.51,8.45,-16.03,-51.91,0.81,-83.09,-9.05,...,39.03,5.53,4.66,5.61,7.24,-1.23,1998/08/06,0000/00/00,0000/00/00,0.317943
243024,주식회사나노팜,29937,2015,-1.80,-6.83,6.21,-5.07,0.49,-88.05,-3.21,...,37.17,1.41,0.75,0.88,1.20,-0.99,1998/08/06,0000/00/00,0000/00/00,0.359739
243025,주식회사나노팜,29937,2018,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,42.57,3.28,2.95,3.71,4.62,-0.50,1998/08/06,0000/00/00,0000/00/00,0.379498
243026,주식회사나노팜,29937,2019,5.09,-0.22,15.86,0.79,2.73,764.12,9.48,...,42.68,5.59,5.14,6.54,8.19,-0.71,1998/08/06,0000/00/00,0000/00/00,0.344884

In [7]:
df = pd.merge(df, croe, how="left", on=["회사명", "거래소코드", "회계년도"])
df

,회사명,거래소코드,회계년도,총자본증가율,유동자산증가율,비유동자산증가율,매출액증가율,자기자본증가율,순이익증가율,유형자산증가율,...,자기자본영업이익률,매출액영업이익률,금융비용부담률,설립일,상장일,상장폐지일,new_feature,총자산증가율,총자산회전율,CROE
0,주식회사성환,81567,2016,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.71,12.51,2.66,2016/07/13,0,0,0.874867,NaN,NaN,NaN
1,주식회사성환,81567,2017,0.42,51.26,0.16,47.58,0.37,-19.46,-0.01,...,0.19,4.57,3.64,2016/07/13,0,0,0.954288,NaN,NaN,NaN
2,주식회사성환,81567,2018,0.14,29.22,-0.09,1.84,0.77,23.43,-0.09,...,0.28,6.47,3.60,2016/07/13,0,0,0.935282,NaN,NaN,NaN
3,주식회사성환,81567,2019,0.22,5.53,0.16,5.59,0.39,-13.91,-0.12,...,0.20,4.48,3.12,2016/07/13,0,0,0.955181,NaN,NaN,NaN
4,주식회사성회,102319,2021,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,-4134.70,2611.19,2021/01/04,0,0,42.347077,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263464,주식회사나노팜,29937,2013,-16.05,-26.14,0.95,-39.55,31.56,9.26,-8.97,...,33.40,18.15,-0.82,1998/08/06,0000/00/00,0000/00/00,0.115443,-16.053530,1.322809,0.000000
263465,주식회사나노팜,29937,2014,-2.51,8.45,-16.03,-51.91,0.81,-83.09,-9.05,...,5.61,7.24,-1.23,1998/08/06,0000/00/00,0000/00/00,0.317943,-2.510743,0.652537,-0.234016
263466,주식회사나노팜,29937,2015,-1.80,-6.83,6.21,-5.07,0.49,-88.05,-3.21,...,0.88,1.20,-0.99,1998/08/06,0000/00/00,0000/00/00,0.359739,-1.801526,0.630819,-0.035877
263467,주식회사나노팜,29937,2018,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,3.71,4.62,-0.50,1998/08/06,0000/00/00,0000/00/00,0.379498,12.719774,0.638154,0.002346
263468,주식회사나노팜,29937,2019,5.09,-0.22,15.86,0.79,2.73,764.12,9.48,...,6.54,8.19,-0.71,1998/08/06,0000/00/00,0000/00/00,0.344884,5.089407,0.612055,0.052929

In [8]:
df = pd.merge(df, cf, how="left", on=["회사명", "거래소코드", "회계년도"])
df

,회사명,거래소코드,회계년도,총자본증가율,유동자산증가율,비유동자산증가율,매출액증가율,자기자본증가율,순이익증가율,유형자산증가율,...,금융비용부담률,설립일,상장일,상장폐지일,new_feature,총자산증가율,총자산회전율,CROE,영업투자현금비율,영업재무현금비율
0,주식회사성환,81567,2016,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,2.66,2016/07/13,0,0,0.874867,NaN,NaN,NaN,-0.048414,0.050665
1,주식회사성환,81567,2017,0.42,51.26,0.16,47.58,0.37,-19.46,-0.01,...,3.64,2016/07/13,0,0,0.954288,NaN,NaN,NaN,-1.170796,NaN
2,주식회사성환,81567,2018,0.14,29.22,-0.09,1.84,0.77,23.43,-0.09,...,3.60,2016/07/13,0,0,0.935282,NaN,NaN,NaN,-22.733746,-1.568112
3,주식회사성환,81567,2019,0.22,5.53,0.16,5.59,0.39,-13.91,-0.12,...,3.12,2016/07/13,0,0,0.955181,NaN,NaN,NaN,-1.365346,-3.611292
4,주식회사성회,102319,2021,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,2611.19,2021/01/04,0,0,42.347077,NaN,NaN,NaN,2.570553,-0.710181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263464,주식회사나노팜,29937,2013,-16.05,-26.14,0.95,-39.55,31.56,9.26,-8.97,...,-0.82,1998/08/06,0000/00/00,0000/00/00,0.115443,-16.053530,1.322809,0.000000,-1.938803,-4.394735
263465,주식회사나노팜,29937,2014,-2.51,8.45,-16.03,-51.91,0.81,-83.09,-9.05,...,-1.23,1998/08/06,0000/00/00,0000/00/00,0.317943,-2.510743,0.652537,-0.234016,0.283980,1.505153
263466,주식회사나노팜,29937,2015,-1.80,-6.83,6.21,-5.07,0.49,-88.05,-3.21,...,-0.99,1998/08/06,0000/00/00,0000/00/00,0.359739,-1.801526,0.630819,-0.035877,0.534214,4.263537
263467,주식회사나노팜,29937,2018,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,-0.50,1998/08/06,0000/00/00,0000/00/00,0.379498,12.719774,0.638154,0.002346,31.037795,4.890810
263468,주식회사나노팜,29937,2019,5.09,-0.22,15.86,0.79,2.73,764.12,9.48,...,-0.71,1998/08/06,0000/00/00,0000/00/00,0.344884,5.089407,0.612055,0.052929,-1.163582,-1.727248

In [9]:
df["설립일"] = pd.to_datetime(df["설립일"]).dt.year
df["영업년수"] = 2024 - df["설립일"]

In [10]:
df.to_csv('../1.데이터셋/Feature/1.재무비율.csv', index=False)

In [11]:
df

,회사명,거래소코드,회계년도,총자본증가율,유동자산증가율,비유동자산증가율,매출액증가율,자기자본증가율,순이익증가율,유형자산증가율,...,설립일,상장일,상장폐지일,new_feature,총자산증가율,총자산회전율,CROE,영업투자현금비율,영업재무현금비율,영업년수
0,주식회사성환,81567,2016,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,2016.0,0,0,0.874867,NaN,NaN,NaN,-0.048414,0.050665,8.0
1,주식회사성환,81567,2017,0.42,51.26,0.16,47.58,0.37,-19.46,-0.01,...,2016.0,0,0,0.954288,NaN,NaN,NaN,-1.170796,NaN,8.0
2,주식회사성환,81567,2018,0.14,29.22,-0.09,1.84,0.77,23.43,-0.09,...,2016.0,0,0,0.935282,NaN,NaN,NaN,-22.733746,-1.568112,8.0
3,주식회사성환,81567,2019,0.22,5.53,0.16,5.59,0.39,-13.91,-0.12,...,2016.0,0,0,0.955181,NaN,NaN,NaN,-1.365346,-3.611292,8.0
4,주식회사성회,102319,2021,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,2021.0,0,0,42.347077,NaN,NaN,NaN,2.570553,-0.710181,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263464,주식회사나노팜,29937,2013,-16.05,-26.14,0.95,-39.55,31.56,9.26,-8.97,...,1998.0,0000/00/00,0000/00/00,0.115443,-16.053530,1.322809,0.000000,-1.938803,-4.394735,26.0
263465,주식회사나노팜,29937,2014,-2.51,8.45,-16.03,-51.91,0.81,-83.09,-9.05,...,1998.0,0000/00/00,0000/00/00,0.317943,-2.510743,0.652537,-0.234016,0.283980,1.505153,26.0
263466,주식회사나노팜,29937,2015,-1.80,-6.83,6.21,-5.07,0.49,-88.05,-3.21,...,1998.0,0000/00/00,0000/00/00,0.359739,-1.801526,0.630819,-0.035877,0.534214,4.263537,26.0
263467,주식회사나노팜,29937,2018,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,1998.0,0000/00/00,0000/00/00,0.379498,12.719774,0.638154,0.002346,31.037795,4.890810,26.0
263468,주식회사나노팜,29937,2019,5.09,-0.22,15.86,0.79,2.73,764.12,9.48,...,1998.0,0000/00/00,0000/00/00,0.344884,5.089407,0.612055,0.052929,-1.163582,-1.727248,26.0